<h1 class="text-center">{{title}}</h1>

<div >
    {{#each accounts}}
    <div class="row" style="margin-bottom:20px;">
        {{#if hasSubAccounts}}
        <a class="btn btn-lg btn-info btn-block" href="/api/accounts/{{id}}">
            {{else}}
            <a class="btn btn-lg btn-info btn-block" href="/api/transactions/{{id}}">
                {{/if}}
                <div class="text-left" style="font-size:110%; margin-left:5%">
                    <b>{{name}}</b>
                    {{#if hasSubAccounts}}
                    &nbsp({{numberOfSubAccounts}})
                    {{/if}}
                </div>
                <div class="text-left col-md-offset-0 text-info" style="font-size:70%; margin-left:5%">Number</div>
                {{#if negativeBalance}}
                <div class="text-right col-md-offset-0" style="margin-right:5%; font-size:80%; color:red">Balance: £{{balance}}</div>
                {{else}}
                <div class="text-right col-md-offset-0" style="margin-right:5%; font-size:80%">Balance: £{{balance}}</div>
                {{/if}}
            </a>
    </div>
    {{else}}
    <p>No Content</p>
    {{/each}}
    <div class="row">
        <a class="btn btn-info btn-block" href="/api/accounts/new">Add Account</a>
    </div>
</div>
