<div >
    <div class="row text-center">{{title}}</div>
    <div class="row text-center">12345-67678909087</div>
    <div class="row text-left" style="margin-top:5px">Balance: £{{balance}}</div>
    <div class="row" style="background:purple; color:white; margin-top:10px; margin-bottom:10px">Transactions</div>
    {{#each transactions}}
    <div class="row" style="margin-bottom:0px;">
        <div>
            <div class="text-left" style="margin-left:5%">{{timestamp}}</div>
            <div class="text-left" style="font-size:70%; margin-left:5%">
                {{#if debit }}
                To
                {{else}}
                From
                {{/if}}
                {{name}}
            </div>
            <div class="text-left" style="margin-left:5%">£&nbsp{{amount}}</div>
            negativeBalance = {{negativeBalance}}
            {{#if negativeBalance}}
            <div class="text-right" style="margin-right:5%; color:red">Balance £{{balance}}</div>
            {{else}}
            <div class="text-right" style="margin-right:5%">Balance £{{balance}}</div>
            {{/if}}
        </div>
    </div>
    <hr />
    {{else}}
    <div class="row">No Content</div>
    {{/each}}
</div>
